@font-face {
  font-family: 'Victor Mono';
  src: local('Victory') url(./fonts/Victor/VictorMono-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Mono Bold';
  src: local('Victory') url(./fonts/Victor/VictorMono-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Mono Bold';
  src: local('Victory') url(./fonts/Victor/VictorMono-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Mono Bold';
  src: local('Victory') url(./fonts/Victor/VictorMono-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}



.App {
  text-align: center;
}


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

/**********************************************************************************************************************/

/* Needs atleast margin-top: 40px for the content body to show from underneath the navbar */
.contentbody {
  background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
}


.navigationbar {
  height: 6%;
  box-shadow:  1px 2px 10px 5px rgb(0, 0, 0);
  border-radius: 3px;
}

.loginbutton {
  /* style={{padding: 15, height: 70}}  */
  font-family: Victory Mono;
  box-shadow: inset 1px 2px 10px 5px rgb(54, 176, 247);
  height: 70px;
  padding: 15px;
}

/**********************************************************************************************************************/
/* DASHBOARD BODY */
.dashboardbody {
  font-family: "Victory Mono";
  /* background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 60px;
  overflow:auto;
}



/* START - LEFT DASHBOARD */
.dashboard-left {
  /* box-shadow: -5px -5px -5px -5px blue ; */
  /* object-fit: contain; */
  size: 100%;
  width: 50%;
  padding: 2%;
  float: left;
  position: relative;
}

.search {
  box-shadow:  1px 1px 10px 1px rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
/* END - LEFT DASHBOARD */



/* START - RIGHT DASHBOARD */
.dashboard-right {
  box-shadow:  1px 1px 10px 1px rgb(0, 0, 0);
  size: 100%;
  height: 900px;
  width: 45%;
  margin: 2%;
  margin-top: 7%;
  align-items: center;
  padding: 2%;
  float: left;
  border-radius: 5px;
}
/* END - RIGHT DASHBOARD */



/**********************************************************************************************************************/






.navbrand {
  color: rgb(192, 24, 100);

}

.carouselbody {

}

.carousel-inner {
  background-image: linear-gradient( #c34389, #F582A7 );
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
  box-shadow: inset 1px 1px 10px 1px rgb(0, 0, 0);
  border-radius: 5px;
}

.carousel-indicators {

}

.carouselcard {
  font-family: Victor Mono;
  font-size: .97em;
  text-align: center;
  padding: 15%;
  overflow: auto;
}

.carouselcardpar {

}
